.cabeçalho{
    background-color: aliceblue;
    border: 10px;
    border-color: aliceblue;
    border-style: dashed;
    margin: 10px;
    color: aliceblue;
    font-weight: 400;
}
#walesca{
    width: 300px;
    border: 3px white;
}
.principal{
    background-color: rgb(21, 54, 83);
    border: 10px;
    border-color: rgb(114, 149, 180);
    border-style: double;
    margin: 30px;
    color: rgb(10, 81, 143);
}