#gojo{   
      width: 200px;
      border: solid 2px rgb(74, 150, 221))
    ;
}
.principal{
    background-color: white;
        color: rgb(10, 10, 10);
}
.rodape{
    background-color: beige;
    color: bisque;
    text-align: center;
}