#gojo{   
      width: 400px;
      border: solid 2px rgb(74, 150, 221))
    ;
}
.principal{
    background-color: white;
        color: black;
}
.rodape{
    background-color: white;
    color: rgb(156, 173, 230);
    text-align: center;
}